.NavbarItems {
    // background: linear-gradient(360deg, #f3d768, #ed900f 100%);
    background: #1112;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    @media screen and (max-width: 960px) {
        position: relative;
        &.responsive {
            background: linear-gradient(360deg, #f3d768, #ed900f 100%);
        }
    }
    .navbar-logo {
        color: #42526e;
        justify-self: center;
        margin-left: 20px;
        cursor: pointer;
        .fa-react {
            margin-left: 0.5rem;
            font-size: 1.6rem;
        }
        @media screen and (max-width: 960px) {
            color: #42526e;
            position: absolute;
            top: 20px;
            left: 0;
            transform: translate(25%, 50%);
        }
    }

    .menu-icon {
        display: none;
        color: #42526e;

        @media screen and (max-width: 960px) {
            display: block;
            position: absolute;
            top: 10px;
            right: 0;
            transform: translate(-100%, 25%);
            font-size: 1.8rem;
            cursor: pointer;
        }
    }
    .nav-menu {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 12px;
        list-style: none;
        text-align: center;
        width: 70vw;
        justify-content: end;
        margin-right: -0.5rem;
        @media screen and (max-width: 960px) {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 525;
            position: absolute;
            top: 80px;
            left: -100%;
            opacity: 1;
            transition: all 0.5s ease-out;
            &.active {
                background: linear-gradient(180deg, #f3d768, #ed900f 100%);
                left: 0;
                opacity: 1;
                transition: all 0.5s ease;
                z-index: 1;
            }
        }

        .nav-link {
            text-decoration: none;
            color: #22232d;
            padding: 0.5rem 1rem;
            font-weight: 800;
            &:hover {
                background-color: #f5dd90;
                border-radius: 4px;
                transition: all 0.2s ease-out;
            }
            @media screen and (max-width: 960px) {
                text-align: center;
                padding: 2rem;
                width: 100%;
                display: table;
                &:hover {
                    background-color: #f5dd90;
                    color: #6568ff;
                    border-radius: 0;
                }
            }
        }
        .nav-link-mobile {
            display: none;
            @media screen and (max-width: 960px) {
                display: block;
                text-align: center;
                padding: 1.5rem;
                margin: 2rem auto;
                border-radius: 4px;
                width: 80%;
                background: #4ad9e4;
                text-decoration: none;
                color: #fff;
                font-size: 1rem;
                &:hover {
                    background: #fff;
                    color: #6568ff;
                    transition: 250ms;
                }
            }
        }
    }
    Button {
        @media screen and (max-width: 960px) {
            display: none;
        }
    }
    .menu-cart {
        margin: auto 2rem;
        .fas {
            &.fa-shopping-bag {
                font-size: 30px;
                color: #42526e;
            }
        }
    }
}
